*{
	padding: 0px;
	margin : 0px;
}

.tab_login{
	border: 1px solid #008b8b ;
	border-top: none;
	width: 585px ;
	margin : 0 200px ;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
}
legend{
	width: 585px;
	background-color: #008b8b ;
	color: white ;
	font-family: Times New Roman ;
	font-size:  30px ;
	border: 1px solid #008b8b ;
	border-bottom:  none;
	margin-left: 200px;
    margin-bottom: 0px;
}
.error{
	width: 90%;
	background-color: #ffaeb9 ;
	padding-left:  20px;
    margin-bottom: 10px ;
}

.input-group{
	width: 90% ;
	padding-top:  20px ;
}
.input-group-addon{
	background-color: white ;
	margin-top: 0px;
}


.btn{
	margin-top: 30px;
	margin-left: 130px;
	width: 150px;
}
.register{
	margin-left: 186px;
	margin-top: 20px;
}
.nav-link {
    width: 185px;
}
.footer{
    background-color: #0e2231;
    width: 101%;
    height: 40px;
    color: white;
    padding: 10px 40%;

}
.error-name{
    color: red;
    font-style: italic;
    font-size: 14px;
}
.error-edit-name{
    color: red;
    font-style: italic;
    font-size: 14px;
}
